* {
    box-sizing: border-box;
    font-family: ubuntu;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 50vh;
    background-color: #4a4c4f;
    padding: 10px;
    border-radius: 10px;
    min-height: 80vh;
    min-width: 25vw;
    display: flex;
    flex-direction: column;
}

.display {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 15px;
    background-color: #a6abb3;
    border: solid black;
    margin-bottom: 5px;
    font-size: 35px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-grow: 1;
}

.buttons button {
    flex-basis: 25%;
    border-radius: 8px;
    font-size: 25px;
}